{{define "styles"}}
    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{{end}}
{{define "content"}}
    <form id="form" method="POST" action="/admin/roles/store">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Add Role</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{if .flashMessage}}
                    {{if (eq .flashMessage.Type "error")}}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-ban"></i> Error!</h5>
                            {{.flashMessage.Message}}
                        </div>
                    {{end}}
                {{end}}
                <input type="hidden" id="token" name="csrf" value="{{ getCsrfToken .ctx }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="slug">Slug</label>
                            <input type="text" id="slug" name="slug" class="form-control">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label for="role_name">Role Name</label>
                            <input type="text" id="role_name" name="role_name" class="form-control">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="permissions">Permission</label>
                            <select class="form-control select2bs4"
                                    id="permissions"
                                    name="permissions[]">
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a href="/admin/roles/list" class="btn btn-secondary float-right" style="margin-left: 20px">
                    <i class="fa fa-backward"></i>
                    Cancel
                </a>
                <button type="submit" class="btn btn-primary float-right" value="Submit">Submit</button>
            </div>
        </div>
    </form>

{{end}}
{{define "scripts"}}
    <script src="/assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="/assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#permissions').select2({
                theme:'bootstrap4',
                placeholder: "Select Role",
                allowClear: true,
                multiple: true,
                ajax: {
                    url: '/admin/permissions/select2',
                    datatype: 'json',
                    type: "GET",
                    data: function (params) {
                        return {
                            term: params.term
                        };
                    },
                    processResults: function (data) {
                        console.log(data)
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.text,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            });
        })
    </script>
{{end}}